.home img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.home .user {
    align-items: center;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.userinfo .name {
    font-size: 32px;
    margin-bottom: 10px;
}

.login-info {
    line-height: 24px;
    color: #999;
    font-size: 14px;
}

.login-info p span {
    margin-left: 50px;
    color: #666;
}

.home .num-box {
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

.home .num-box .ant-card .ant-card-body {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.home .num-box .ant-card .ant-card-body .icon-box {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 85px;
    color: #FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 30px;
    margin-right: 10px;
}

.home .num-box .detail .num {
    font-size: 30px;
}

.home .num-box .detail .text {
    font-size: 14px;
    text-align: center;
    color: #999;
}


.home .graph {
    display: flex;
    align-items: center;
}

.home .graph > div {
    flex: 1;
}